<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select your game</title>
    <link rel="stylesheet" type="text/css" href="css/gameSelect.css">
</head>
<body>
    <header>
        <div class="main"></div>
    <ul>
     <li><a href="index.hbs" class="btn">Home</a></li>
     <li><a href="index.hbs"  class="btn">Log Out</a></li>
     

      
      
      </ul></div>
    </header>
    <h1>Select A Game To Play</h1>
    
    <br><br>
    <div class="button">
        
        <a  class ="btn" href="flappyBird2/index.html">Flappy Bird Level 1</a>
         <br><br>
                       <h2>Other  Games  To  Play : </h2><br>
        <a class ="btn" href="snake-main/snake-main/index.html">Snake Game Level 1</a>
        <br><br><br>
        <a class ="btn" href="tictactoe/index.html">Tic Tac Toe Level 1</a>
    </div>
    <footer>
            <a 
        href="mailto:ashritaraskatla@gmail.com">ashritaraskatla@gmail.com</a>
        <p>copyright@2022</p>
    </footer>
</body>
</html>