<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wel-Come page</title>
     
    <link rel="stylesheet" type="text/css" href="css\index.css">

</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <header>
        <div class="main"></div>
    <ul>
     <li class="active"><a href="#">Home</a></li>
    
     <li><a href="Admin.hbs" href="#" class="btn">Admin</a></li>
     

      
      
      </ul></div>
    </header>
    <h1>Welcome To The Gaming World</h1>
    <h2>Let's Play The Game</h2>
    <div class=""button" >
    <a class="btn" href="register.hbs">Sign Up</a>
   
     <a class="btn" href="login.hbs">Sign in</a>
     </div>
    
</body>
</html>