<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select your game</title>
<link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
   <header>
    <nav>
        <a  href="">Home</a>
        <a href ="">Admin</a>
        <a href="">FeedBack</a>
    </nav>
    </header>
    <h1>Select your Game</h1>
    <h2>Choose A game to play</h2>
    <br><br>
    
        <a href="flappyBird1/index.html">Flappy Bird Level 1</a>
         <br><br>
        <a href="flappyBird2/index.html">Flappy Bird Level 2</a>
         <br><br>
        <a href="">Snake Game</a>
         <br><br>
        <a href="">Tic Tac Toe</a>
    
    <footer>
        <p>
            <a 
        href="mailto:ashritaraskatla@gmail.com">ashritaraskatla@gamil.com</a></p>
    </footer>
</body>
</html>